html body {
  background-color: #f6e4ad;
  margin: 0;
  padding: 0;
  font-family: fonts;
}
header {
  height: fit-content;
}
.button {
  border: none;
  background: transparent;
}
li {
  margin-left: 20px;
}
.nav-item {
}
.nav-item:hover {
  background-color: #fdb44b;
  transition: 1.5s;
  border-radius: 20px;
}
.logo {
  margin: 0;
  padding: 5px;
  width: 80px;
  border: none;
  border-radius: 5px;
}
.dropdown-item0 {
  text-decoration: none;
  font-size: 15px;
  color: gray;
}
.dropdown-item0:hover {
  background-color: #fdb44b;
  transition: 1.5s;
  border-radius: 5px;
}
.father-card {
  margin-top: 20rem;
}
.card {
  width: 340px;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "motserrate", sans-serif;
  box-shadow: 0 0 15px #00000070;
  margin-bottom: 20px;
  border-radius: 4px;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.topcard {
  position: relative;
}
.topcard img {
  width: 100%;
  height: 20rem;
  box-shadow: 0 0 15px #00000070;
}
#back {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 14px;
}
#backicon {
  color: #333;
}
#backicon:hover {
  width: 20;
  height: 20;
  transition: 1s;
}
.name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: 900;
  opacity: 0.5;
}
.name span {
  text-transform: uppercase;
  font-weight: 600;
}
.middlecard {
  padding: 40px;
  padding-top: 0;
}
.middlecard h2 {
  position: relative;
  font-size: 16px;
}
.border-a {
  width: 30px;
  height: 3px;
  background-color: #778beb;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 2s;
}
.border-a:hover {
  width: 60px;
}
p {
  text-align: justify;
  font-size: 14px;
}
.icon {
  text-align: center;
  margin-top: 20px;
}
.icon a {
  color: #333;
  padding: 0 15px;
  font-size: 14px;
  transition: 0.7s;
}
#facebook:hover {
  width: 20;
  height: 20;
  color: #000087;
}
#whatsapp:hover {
  width: 20;
  height: 20;
  color: #00e201;
}
#instagram:hover {
  width: 20;
  height: 20;
  color: #7500e2;
}
#telegram:hover {
  width: 20;
  height: 20;
  color: #0093e2;
}
#twitter:hover {
  width: 20;
  height: 20;
  color: #00a9e2;
}
footer {
  /* position: fixed; */
  width: auto;
  height: 7rem;
  border-top: 1px solid #005792;
  background-color: #00204a;
  left: 0;
  bottom: 0;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
}
.connecttous {
  width: 50vw;
}
.connecttous p {
  margin: 1rem;
}
.connecttous a {
  text-decoration: none;
  color: aliceblue;
}
.connettoplatforms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.connettoplatforms p {
  margin: 1rem;
}
.iconfooter {
  text-align: center;
  padding-bottom: 1rem;
  margin: 0.5rem;
}
.iconfooter a {
  color: #f1f1f1;
  padding: 0 20px;
  font-size: 14px;
  transition: 0.7s;
}
#facebook:hover {
  width: 20;
  height: 20;
  color: #000087;
}
#whatsapp:hover {
  width: 20;
  height: 20;
  color: #00e201;
}
#instagram:hover {
  width: 20;
  height: 20;
  color: #7500e2;
}
#telegram:hover {
  width: 20;
  height: 20;
  color: #0093e2;
}
#twitter:hover {
  width: 20;
  height: 20;
  color: #00a9e2;
}
/* https://i.ibb.co/D7Jwk1B/pic200.jpg */
